@import "../../variables.scss";

.container {
  h2 {
    font-size: 1.8rem;
  }
}

.info {
  margin-top: 2em;
}

.addPhotosTitle {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.file {
  height: 100%;
}

.error {
  color: tomato;
}

@media (min-width: 800px) and (max-width: $desktop-width) {
  .data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    > div {
      max-width: 48%;
    }
  }
}

@media (min-width: $desktop-width) {
  .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
