@import "../../variables.scss";

.container {
  width: 100%;
  margin-top: 1em;
}

.heading {
  padding: 0.5em 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.wrapper {
  padding: 1em;
}

.base.container {
  background: $data-gray-light;
}

.base .heading {
  background: $data-gray;
}

.electrical.container {
  background: $data-yellow-light;
}

.electrical .heading {
  background: $data-yellow;
}

.battery.container {
  background: $data-green-light;
}

.battery .heading {
  background: $data-green;
}
