@import "../../variables.scss";

.container {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1;
  box-shadow: 0px 4px 4px #00000066;
}

@media (min-width: $desktop-width) {
  .container {
    width: 100%;
  }
}
