@import "../../variables.scss";

.container {
  width: 100%;
  font-size: 1.6rem;
}

.headingRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1em 1em;
}

.headingInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingInfo p {
  font-weight: 300;
  line-height: 1.1;
}

.detailsRow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0 10px;
  padding: 0 1em;
}

.base {
  background: $data-gray;
}

.baseLight {
  background: $data-gray-light;
}

.electrical {
  background: $data-yellow;
}

.electricalLight {
  background: $data-yellow-light;
}

.battery {
  background: $data-green;
}

.batteryLight {
  background: $data-green-light;
}

@media (min-width: 600px) and (max-width: 1280px) {
  .detailsRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0 10px;
    padding: 0 1em;
  }
}
