@import '../../variables.scss';

.selectCategoryTitle {
  font-size: 2rem;
  margin: 1em 0;
  text-align: center;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    margin-top: 1em;
  }
}

.vehiclesWrapper {
  width: 100vw;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  svg {
    margin-right: 10px;
    font-size: 4rem;
  }
  p {
    line-height: 1.2;
  }
}

@media (min-width: 700px) {
  .sectionWrapper {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 1em 0;

    &:first-child {
      margin-top: 2em;
    }
  }

  .vehiclesWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: $desktop-width) {
  .vehiclesWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
