@import "../../variables.scss";

.container {
  background: $dark-background;
  margin-top: 1em;
  padding: 0 3px 3px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  box-shadow: 0px 2px 2px #00000066;
}

.categoryImg {
  width: calc(100vw - 6px);
  height: 56.25vw;
  position: relative;
}

.categoryImg img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  color: $accent-color;
  text-align: center;
  font-size: 2.5rem;
  margin: 0.1em 0;
}

@media (min-width: 700px) {
  .container {
    width: 100%;
    /* padding: 0; */
  }

  /* .databars {
    padding: 0 3px 3px 3px;
    width: 100%;
  } */

  .categoryImg {
    /* width: calc(100% - 6px); */
    width: 100%;
    height: 200px;
    position: relative;
  }
}
