@import "../../variables.scss";

.container {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;
  align-items: center;
  justify-items: center;
  margin: 1em 0;
  font-size: 1.5rem;
}

.views,
.likes,
.category {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.category img {
  max-width: 100%;
}

.views,
.likes img {
  width: 45px;
}

@media (max-width: 320px) {
  .container {
    font-size: 1rem;
    font-weight: 800;
  }
}

@media (min-width: $desktop-width) {
  .container {
    grid-area: cat;
    justify-self: center;
  }
}
