@import "../../variables.scss";

.container {
  width: 100vw;
}

.thumb {
  cursor: pointer;
}

@media (min-width: $desktop-width) {
  .container {
    width: 800px;
    height: 700px;
    grid-area: swiper;
  }
}
