@import 'src/styles/variables.scss';

.container {
  background: $header-background;
  width: 100%;
  top: 0;
}

.header {
  color: $nav-font-color;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.btn {
  color: $nav-font-color;
  margin-left: 0.5em;
  font-size: 4rem;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    transform: scale(0.9);
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

@media (min-width: $desktop-width) {
  .container {
    box-shadow: 0px 4px 4px #00000066;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    height: 100px;
    flex-grow: 1;
    max-width: $desktop-width;
  }
  .btn {
    display: none;
  }
  .img {
    order: -1;
  }
  .title {
    margin-right: auto;
  }
}
