{
  "importOrder": ["<THIRD_PARTY_MODULES>", "\\.css$", "^src/(.*)$", "^public/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
