.icoBox {
  height: 50px;
  font-size: 5rem;
  color: var(--nav-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  transition: color 150ms;
}

.a {
  background: var(--accent-color);
  color: var(--nav-font-color);
  min-width: 165px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 4px 4px #00000066;
  transition: background 150ms, color 150ms;
  margin: 1em 0;
  align-self: center;
}
.a:hover {
  background: var(--nav-font-color);
  color: var(--accent-color);
  outline: 4px solid var(--accent-color);
  outline-offset: -4px;
}

.a:hover .icoBox {
  color: var(--accent-color);
}

.a:active {
  transform: scale(0.95);
  box-shadow: unset;
}

.p {
  font-size: 2.4rem;
  margin: 0 1em;
}
