.container {
  text-align: center;
  width: 100vw;
}

.categorySwiper {
  margin: 0.5em 0;
}

.categoryImg {
  width: 100%;
  height: 100%;
  position: relative;
}

.categoryImg img {
  object-fit: contain;
}

.firstSlide {
  width: 100%;
  height: 100%;
  background-image: url("/img/hand-point-left-solid.svg");
}

.lastSlide {
  width: 100%;
  height: 100%;
  background-image: url("/img/hand-point-right-solid.svg");
}
