.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--nav-font-color);
  margin: 0.2em 0;
}

.label svg {
  margin-right: 0.2em;
}
