.form {
  width: 100vw;
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 90%;
  height: 3em;
  text-indent: 1em;
}

@media (min-width: 1280px) {
  .form {
    width: 100%;
  }
}
.form input {
  width: 100%;
}
