@import 'src/styles/variables.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 0.5em;
}

.user {
  margin-right: 1em;
}

.buttonsWrapper {
  a {
    &:nth-child(2) {
      margin-top: 3em;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    grid-template-areas:
      'swiper cat'
      'swiper data'
      'desc data'
      'desc data'
      'desc data'
      'btns btns';
    align-items: start;
  }

  .buttonsWrapper {
    grid-area: 'btns';
    justify-self: center;
  }
}
