@import 'src/styles/variables.scss';

.container {
  h2 {
    font-size: 1.8rem;
  }
}

.info {
  margin-top: 2em;
}

.addPhotosTitle {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.file {
  height: 100%;
}

.error {
  color: tomato;
}

@media (min-width: 768px) and (max-width: $desktop-width) {
  .data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (min-width: $desktop-width) {
  .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
