$background-color: #c4c4c4cc;
$dark-background: #46474d;
$nav-ico-background: #ffffff;
$nav-font-color: #46474d;
$header-background: #acb0bd;
$nav-background: #808080;
$accent-color: #ffc246;
$accent-color-font: #e79b00;
$data-gray: #acb0bd;
$data-gray-light: #d9dded;
$data-yellow: #fff200;
$data-yellow-light: #fffcc4;
$data-green: #4cff3a;
$data-green-light: #baffb3;

$desktop-width: 1280px;
