.icoBox {
  width: 50px;
  height: 30px;
  font-size: 2rem;
  color: var(--nav-font-color);
  background: var(--nav-ico-background);
  border: 0.5px solid var(--nav-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.linkContainer a {
  padding: 0.2em;
  transition: background 250ms;
  display: flex;
  align-items: center;
  color: var(--nav-font-color);
  font-weight: bold;
}

.linkContainer a:hover {
  background: #ffffff;
}

.linkContainer a:active {
  transform: scale(0.98);
}

.loginContainer {
  background: var(--accent-color);
  align-self: start;
}

.loginIcoBox {
  background: none;
  border: none;
  font-size: 3rem;
}

.loginContainer a:hover {
  background: unset;
}

.loginContainer a:active {
  transform: unset;
}

.loginContainer:hover {
  outline: 2px solid var(--nav-font-color);
}

.loginContainer:active {
  transform: scale(0.98);
}

@media (min-width: 1280px) {
  .loginContainer {
    display: flex;
    justify-content: center;

    /* margin: 1em; */
  }

  .loginIcoBox {
    width: unset;
  }
}
