@import '../../variables.scss';

.container {
  padding: 0.5em;
  width: 100vw;
  background: $accent-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $nav-font-color;
  font-size: 2rem;
  font-weight: bold;
}
