.logo {
  width: 90vw;
  height: 38.9vw;
  max-width: 340px;
  max-height: 147px;
  position: relative;
  margin-bottom: 1em;
}

.p {
  font-weight: 400;
  text-align: center;
}

.p em {
  display: block;
  color: var(--accent-color-font);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
}

.call {
  background: var(--background-color);
  margin: 0 -1em;
  padding: 1em;
  text-align: center;
  font-weight: 500;
  width: 100vw;
}

.call p:nth-child(1n + 2) {
  margin-top: 0.5em;
}

.btnInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnInfo:first-child {
  margin-top: 1em;
}

@media (min-width: 1280px) {
  .btnInfo {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 1em 0;
  }

  .btnInfo:first-child {
    margin-top: 2em;
  }

  .call {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .callContainer {
    max-width: 900px;
    text-align: left;
  }

  .logo {
    order: 1;
  }
}
