@import "../../variables.scss";

.recentlyAdded {
  background: $dark-background;
  /* margin: 0 -1em; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em 1em 1em;
  color: $accent-color;
}

.recentTitle {
  font-size: 3.5rem;
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
}

.container > div {
  margin-bottom: 0.75em;
}

.container > div:last-child {
  margin-bottom: 0;
}

@media (min-width: 1280px) {
  .container {
    display: flex;
  }

  .container > div {
    margin-right: 0.75em;
    margin-bottom: 0;
  }

  .container > div:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1800px) {
  .recentlyAdded {
    max-width: 1100px;
    position: relative;
    height: 351px;
  }

  .recentlyAdded:after {
    position: absolute;
    left: 100%;
    content: "";
    background-image: url("/img/ornament-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 326px;
    height: 351px;
    z-index: 0;
  }

  .recentlyAdded:before {
    position: absolute;
    left: 0;
    content: "";
    background-image: url("/img/ornament-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 326px;
    height: 351px;
    transform: translateX(-100%);
    z-index: 0;
  }

  .container {
    flex-grow: 1;
    align-items: center;
  }
}
