@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

@font-face {
  font-family: "Capture";
  src: url("/fnt/capsmall_clean.ttf");
  font-weight: 800;
  font-display: swap;
}
:root {
  --background-color: #c4c4c4cc;
  --nav-ico-background: #ffffff;
  --nav-font-color: #46474d;
  --header-background: #acb0bd;
  --nav-background: #808080;
  --accent-color: #ffc246;
  --desktop-width: 1300px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Open Sans Condensed, sans-serif;
  font-size: 1.8rem;
  background: var(--background-color);
  background-image: url("/img/bg.png");
}

a {
  color: inherit;
  text-decoration: none;
}

.rebel-font {
  font-family: Capture;
  letter-spacing: 0.05em;
}
