@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@font-face {
  font-family: "Capture";
  src: url("/fnt/capsmall_clean.ttf");
  font-weight: 800;
  font-display: swap;
}
:root {
  --background-color: #c4c4c4cc;
  --dark-background: #46474d;
  --nav-ico-background: #ffffff;
  --nav-font-color: #46474d;
  --header-background: #acb0bd;
  --nav-background: #808080;
  --accent-color: #ffc246;
  --accent-color-font: #e79b00;
  --data-gray: #acb0bd;
  --data-gray-light: #d9dded;
  --data-yellow: #fff200;
  --data-yellow-light: #fffcc4;
  --data-green: #4cff3a;
  --data-green-light: #baffb3;
  --desktop-width: 1300px;
}

* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  background: var(--background-color);
  background-image: url("/img/bg.png");
  overflow-x: hidden;
}

input,
select {
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.6;
  margin: 0;
  letter-spacing: 0.015em;
}

h1,
h2,
h3 {
  margin: 0;
}

.rebel-font {
  font-family: Capture, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
