@import 'src/styles/variables.scss';

.nav {
  font-size: 2.5rem;
  font-weight: bold;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  background: $background-color;
  z-index: 998;
}

.container {
  display: grid;
  grid-template-rows: repeat(5, 55px);
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  width: 300px;
  background: $nav-background;
  z-index: 999;
}

.hidden {
  display: none;
}

@media (min-width: $desktop-width) {
  .hidden {
    display: unset;
  }

  .nav {
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    background: none;
    font-size: 2rem;
  }

  .container {
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    width: unset;
    background: none;
    grid-template-columns: 1fr 1fr 0.2fr 0.7fr;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 5px 30px;

    div:last-child {
      grid-column: 4/5;
      grid-row: 1 / span 2;
      align-self: center;
    }
  }
}
